@import "../../nord.css";

@font-face {
    font-family: "RobotoMono";
    src: url("../fonts/RobotoMono-Regular.ttf");
    font-display: swap
}

body {
    font-family: "RobotoMono", monospace;
    background-color: var(--nord0);
}

a {
    display: inline-block;
}

#timedate {
    font-size: 5rem;
    text-align: center;
    padding: 320px 20px;
    color: var(--nord4);
}

@media only screen and (max-width: 680px) {
    #timedate {
        font-size: 3rem;
        padding-top: 200px;
    }
}
